$contrastColor: cornflowerblue;
$appWidth: 400px;


// SASS also allows us to create functions that we can use to dynamically
// calculate styles at build time.
@function calcDivMargin($width) {
  @return $width / 4;
}

// Since SASS builds to css, we can write css as normal.
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; 
}


#app {
  width: 50%;
  margin: 0 auto;
  text-align: center; 
  
  div {
    margin-top: calcDivMargin($appWidth);
    
    h1 {
      color: $contrastColor; 
    }
    
    h2 i {
      color: $contrastColor; 
    }
    
    ul {
      width: $appWidth;
      margin: 0 auto;
      text-align: left; 
      
      li {
        margin-top: 10px;
        word-break: break-all;
        font-size: 1.1em; 
      }
    }
  }
}
